.container{
    /* padding: 2px; */
    width: 40px;
    height: 20px;
    border-radius: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.ball{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
}