.container{
    display: flex;
    justify-content: space-between;
}

.button{
    width: 100px;
    border: none;
    text-align: center;
    padding: 14px;
    background-color: crimson;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}